:root {
  --primari-header-color: #ffffff;
  --second-header-color: #f5f4fa;
  --last-header-color: #2f303a;
  --accent-color: #2196f3;
  --accent-second-color: #000000;
  --comand-header-color: #f5f4fa;
  --light-text: #212121;
  --second-text: #757575;
  --another-text: #ffffff;
  --work-bg-color: #eeeeee;
  --accent-color-bt: #188ce8;
  --comand-soc-color: #afb1b8;
  --card-set-gap: 94px;
}
