.about {
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);

  background-color: var(--primari-header-color);

  &-title {
    display: block;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.about-list.list {
  display: flex;
}

.about-items {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-box::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: "";
}
.label {
  bottom: 0;
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--another-text);
  background: rgba(47, 48, 58, 0.8);
}
