.comand {
  padding-bottom: var(--card-set-gap);
  padding-top: var(--card-set-gap);

  background-color: var(--comand-header-color);
  &-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.comand-list.list {
  display: flex;
}

.comand-pre-title {
  display: block;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: center;
}

.comand-items {
  background-color: var(--primari-header-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.comand-foto {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand-post-title {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
.comand-soc-list {
  @extend %flex-aling-justify;
}
.comand-soc-items {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.comand-soc-link {
  @extend %flex-aling-justify;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primari-header-color);
  color: var(--comand-soc-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--another-text);
    background-color: var(--accent-color);
  }
}
.comand-soc-icons {
  fill: currentColor;
}
