.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/tityle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--last-header-color);

  &-title {
    margin-bottom: 30px;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--another-text);
  }
}

.hero-btn-pointer {
  padding: 10px 32px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--another-text);
  background-color: var(--accent-color-bt);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--another-text);
  }
}
