.section-terms {
  padding-bottom: 0;
  padding-top: var(--card-set-gap);

  background-color: var(--primari-header-color);
}

.terms-icon-list {
  @extend %flex-aling-justify;
}

.terms-icon-items {
  @extend %flex-aling-justify;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--comand-header-color);
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.terms.list {
  display: flex;
}
.terms-list.list {
  flex-basis: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.terms-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.terms-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
